<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Presensi Pelindo</title>

    <!-- Custom fonts for this template-->
    <link
      href="/src/assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Datatable -->
    <link rel="stylesheet" href="/src/assets/vendor/datatable/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/src/assets/vendor/datatable/dataTables.bootstrap4.min.css"
    />

    <!-- Vendor Bootstrap  -->
    <link
      rel="stylesheet"
      href="/src/assets/vendor/bootstrap-icons/bootstrap-icons.css"
    />

    <!-- Custom styles for this template-->
    <link href="/src/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../../../partials/sidebarAdmin', { link: 'rekap-magang',
      parent: 'rekapitulasi'}) %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../../../partials/topbar') %>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                Rekapitulasi Mahasiswa Magang
              </h1>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Content Column -->
              <div class="col-12 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-6">
                        <label for="filter-tanggal">Filter Tanggal</label>
                        <input
                          type="date"
                          name=""
                          id="filter-tanggal"
                          class="form-control"
                        />
                      </div>
                      <div class="col-6">
                        <label for="filter-nama">Filter Nama</label>
                        <input
                          type="text"
                          name=""
                          id="filter-nama"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <table
                      id="example"
                      class="table table-striped table-bordered"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Nama</th>
                          <th>Tanggal</th>
                          <th>Waktu Datang</th>
                          <th>Waktu Pulang</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Datatable -->
    <script src="/src/assets/vendor/datatable/jquery-3.7.0.js"></script>
    <script src="/src/assets/vendor/datatable/jquery.dataTables.min.js"></script>
    <script src="/src/assets/vendor/datatable/dataTables.bootstrap4.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/src/assets/js/sb-admin-2.min.js"></script>

    <script>
      var alreadyDraw = false

      const table = $("#example").DataTable({
        processing: true,
        serverSide: true,
        ajax: {
          url: "/admin/rekapitulasi/magang/data",
          type: "GET",
        },
        columns: [
          { data: "namaPengguna", title: "Nama" },
          { data: "tanggal", title: "Tanggal" },
          { data: "waktu_datang", title: "Waktu Datang" },
          { data: "waktu_pulang", title: "Waktu Pulang" },
          { data: "status", title: "Status" },
          {
            data: "id",
            title: "Action",
            render: function (data, row, type) {
              return `
                <a href='/admin/rekapitulasi/magang/edit/${data}' class='btn btn-primary'>
                  <i class='bi bi-pencil-square'></i>
                </a>

                <a href='/admin/rekapitulasi/magang/cetak/${data}' class='btn btn-success'>
                  <i class="bi bi-printer"></i>
                </a>
              `
            },
          },
        ],
      })

      const sekarang = new Date()

      const tahun = sekarang.getFullYear()
      const bulan = sekarang.getMonth() + 1
      const tanggal = sekarang.getDate()

      const stringBulan = bulan.toString().padStart(2, "0")
      const stringTanggal = tanggal.toString().padStart(2, "0")

      const formattedTanggal = `${tahun}-${stringBulan}-${stringTanggal}`

      $(document).ready(function () {
        $("#filter-tanggal").val(formattedTanggal)

        const combined = `${formattedTanggal}::`

        table.search(combined).draw()
      })

      $("#filter-tanggal").on("change", function () {
        let tanggal = $(this).val()
        const nama = $("#filter-nama").val()

        const combined = `${tanggal}::${nama}`

        if (tanggal == undefined) {
          tanggal = ""
        }

        console.log(combined)

        table.search(combined).draw()
      })

      $("#filter-nama").keyup(function () {
        const nama = $(this).val()
        let tanggal = $("#filter-tanggal").val()

        if (tanggal == undefined) {
          tanggal = ""
        }

        const combined = `${tanggal}::${nama}`

        console.log(combined)

        table.search(combined).draw()
      })
    </script>
  </body>
</html>
