<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRESENSI PELINDO</title>

    <link rel="stylesheet" href="/src/assets/css/login.css" />
    <link rel="stylesheet" href="/src/assets/css/sb-admin-2.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <div></div>
      <div class="card">
        <h1>Login Admin Presensi</h1>
        <form id="form" class="mt-3">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="" id="username" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="" id="password" class="form-control" required />
          </div>
          <button class="btn btn-primary w-100">LOGIN</button>
        </form>
      </div>
    </div>

    <script src="/src/assets/vendor/jquery/jquery.min.js"></script>

    <script>
      $("#form").on("submit", (e) => {
        e.preventDefault()

        const username = $("#username").val()
        const password = $("#password").val()

        const data = { username, password }

        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }).then(async (result) => {
          if (!result.ok) {
            const data = await result.json()

            console.log(data.error)
          } else {
            location.href = "/admin"
          }
        })
      })
    </script>
  </body>
</html>
