<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRESENSI PELINDO</title>

    <link rel="icon" href="/public/pelindo.png" />

    <link rel="stylesheet" href="/src/assets/css/login.css" />
    <link rel="stylesheet" href="/src/assets/css/sb-admin-2.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <div></div>
      <div class="card">
        <div class="mb-4">
          <h1 class="title">Login</h1>
        </div>

        <div>
          <h3 class="subtitle text-gray-600 mb-1">Selamat datang</h3>
          <h3 class="subtitle text-gray-600">Halaman login admin presensi pkl/magang</h3>
        </div>

        <form id="form" class="mt-4">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name=""
              id="username"
              class="form-control"
              placeholder="Username"
              required
            />
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              name=""
              id="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <button type="submit">
            <img id="loader" src="/public/loader/circle-white.svg" class="d-none" alt="" />
            Login
          </button>
        </form>
      </div>
    </div>

    <script src="/src/assets/vendor/jquery/jquery.min.js"></script>

    <script>
      $("#form").on("submit", (e) => {
        e.preventDefault()

        $("#loader").removeClass("d-none")

        const username = $("#username").val()
        const password = $("#password").val()

        const data = { username, password }

        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }).then(async (result) => {
          if (!result.ok) {
            const data = await result.json()

            console.log(data.error)
          } else {
            location.href = "/admin"
          }

          $("#loader").addClass("d-none")
        })
      })
    </script>
  </body>
</html>
