<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRESENSI PELINDO</title>

    <link rel="icon" href="/public/pelindo.png" />

    <link rel="stylesheet" href="/src/assets/css/absen.css" />
    <link rel="stylesheet" href="/src/assets/css/alert-absen.css" />
  </head>
  <body>
    <div class="alert-wrapper" id="success-wrapper">
      <div class="alert-container">
        <img src="/public/success-logo.png" alt="" id="success-logo" />
        <h1 class="alert-title">SUCCESS !</h1>
        <h3 class="alert-subtitle">Your presence has been submitted</h3>
        <button class="ok-btn" onclick="location.href='/'">OK</button>
      </div>
    </div>
  </body>
</html>
