@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

:root {
  --primary: rgb(4, 117, 188);
}

.wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 55vw;
}

.title {
  margin: 2rem 0;
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-size: 5.8vw;
  font-weight: 800;
}

.form-wrap {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input-group {
  position: relative;
}

.input-group label {
  font-family: "Poppins", sans-serif;
}

.input-group i {
  position: absolute;
  top: 12px;
  color: var(--primary);
  left: 12px;
}

#code {
  padding: 0.7rem 0.7rem 0.7rem 2.2rem;
  width: 100%;
  border: var(--primary) solid 1px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

#code-label {
  font-family: Arial, Helvetica, sans-serif;
}

#code:focus {
  outline: none;
}

.form-action {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}

.form-action button {
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1rem;
  background: var(--primary);
  color: white;
  font-weight: bolder;
  border: solid 2px var(--primary);
  border-radius: 17px;
  transition: 0.3s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  box-shadow: 0 2px 10px 0 rgba(4, 117, 188, 0.75);
  -webkit-box-shadow: 0 2px 10px 0 rgba(4, 117, 188, 0.75);
  -moz-box-shadow: 0 2px 10px 0 rgba(4, 117, 188, 0.75);
}

.form-action button:hover {
  transform: scale(0.96);
}

#izin-btn {
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: var(--primary);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 0.7rem;
}

#popup-loading {
  width: 100%;
  height: 100svh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: white;
  transition: 0.5s ease-in-out;
}
