@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

#aturan-wrapper {
  position: absolute;
  width: 100%;
  padding: 10rem 20rem;
  background-color: white;
  height: fit-content;
  font-family: "Poppins", sans-serif;
}

.d-none {
  display: none;
}

.izin-title {
  font-size: 1.5rem;
  font-weight: 700;
}

#aturan-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.confirmation-box {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  left: 0;
}

.confirmation-box button {
  width: 7rem;
}

@media screen and (max-width: 700px) {
  #aturan-wrapper {
    padding: 2rem 2rem 4.5rem 2rem;
  }
}
