<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">PRESENSI</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <% if (link == 'dashboard' && parent == 'dashboard') { %>
  <li class="nav-item active">
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>
  <% } %>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Siswa / Mahasiswa</div>

  <!-- prettier-ignore -->
  <% if (parent == 'siswa') { %>
  <li class="nav-item active">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>PKL</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse show"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <% if (link == 'input') { %>
        <a class="collapse-item active" href="/admin/siswa/input">Input Siswa</a>
        <a class="collapse-item" href="/admin/siswa/daftar">Daftar Siswa</a>
        <% } else { %>
        <a class="collapse-item" href="/admin/siswa/input">Input Siswa</a>
        <a class="collapse-item active" href="/admin/siswa/daftar">Daftar Siswa</a>
        <% } %>
      </div>
    </div>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>PKL</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/admin/siswa/input">Input Siswa</a>
        <a class="collapse-item" href="/admin/siswa/daftar">Daftar Siswa</a>
      </div>
    </div>
  </li>
  <% } %>

  <!-- Nav Item - Utilities Collapse Menu -->
  <% if (parent == 'mahasiswa') { %>
  <li class="nav-item active">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Magang</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse show"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <% if (link == 'input') { %>
        <a class="collapse-item active" href="/admin/mahasiswa/input">Input Mahasiswa </a>
        <a class="collapse-item" href="/admin/mahasiswa/daftar">Daftar Mahasiswa </a>
        <% } else { %>
        <a class="collapse-item" href="/admin/mahasiswa/input">Input Mahasiswa </a>
        <a class="collapse-item active" href="/admin/mahasiswa/daftar">Daftar Mahasiswa </a>
        <% } %>
      </div>
    </div>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Magang</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/admin/mahasiswa/input">Input Mahasiswa </a>
        <a class="collapse-item" href="/admin/mahasiswa/daftar">Daftar Mahasiswa </a>
      </div>
    </div>
  </li>
  <% } %>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Rekapitulasi</div>

  <!-- rekapitulasi pkl link -->
  <% if (link == 'rekap-pkl' && parent == 'rekapitulasi') { %>
  <li class="nav-item active">
    <a class="nav-link" href="/admin/rekapitulasi/pkl">
      <i class="fas fa-fw fa-school"></i>
      <span>Siswa PKL</span>
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/admin/rekapitulasi/pkl">
      <i class="fas fa-fw fa-school"></i>
      <span>Siswa PKL</span>
    </a>
  </li>
  <% } %>

  <!-- rekapitulasi magang link -->
  <% if (link == 'rekap-magang' && parent == 'rekapitulasi') { %>
  <li class="nav-item active">
    <a class="nav-link" href="/admin/rekapitulasi/magang">
      <i class="fas fa-fw fa-graduation-cap"></i>
      <span>Mahasiswa Magang</span>
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/admin/rekapitulasi/magang">
      <i class="fas fa-fw fa-graduation-cap"></i>
      <span>Mahasiswa Magang</span>
    </a>
  </li>
  <% } %>

  <!-- perizinan link -->
  <% if (link == 'izin' && parent == 'rekapitulasi') { %>
  <li class="nav-item active">
    <a class="nav-link" href="/admin/rekapitulasi/izin">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Izin</span>
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/admin/rekapitulasi/izin">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Izin</span>
    </a>
  </li>
  <% } %>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Settings</div>

  <!-- sekolah link -->
  <% if (link == 'sekolah' && parent == 'settings') { %>
  <li class="nav-item active">
    <a class="nav-link" href="/admin/settings/sekolah">
      <i class="fas fa-fw fa-school"></i>
      <span>Sekolah</span>
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/admin/settings/sekolah">
      <i class="fas fa-fw fa-school"></i>
      <span>Sekolah</span>
    </a>
  </li>
  <% } %>

  <!-- kampus link -->
  <% if (link == 'kampus' && parent == 'settings') { %>
  <li class="nav-item active">
    <a class="nav-link" href="/admin/settings/kampus">
      <i class="fas fa-fw fa-university"></i>
      <span>Kampus</span>
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/admin/settings/kampus">
      <i class="fas fa-fw fa-university"></i>
      <span>Kampus</span>
    </a>
  </li>
  <% } %>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
